.header__img {
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}
.c-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.op88 {
    opacity: 0.88;
}
.s-back-grad, .price__header, .price__header::after {
    background: #30384b;
    background: -webkit-linear-gradient(to right, #30384b, #30384b);
    background: -webkit-gradient(linear, left top, right top, from(#30384b), to(#30384b));
    background: -webkit-linear-gradient(left, #30384b, #30384b);
    background: -o-linear-gradient(left, #30384b, #30384b);
    background: linear-gradient(to right, #30384b, #30384b);
}
.t-shadow .hero {
    padding-top: 10px;
    margin-bottom: 80px;
}
.t-shadow .hero {
    padding-bottom: 160px;
}
.hero {
    position: relative;
    padding: 210px 0 60px;
}
.t-shadow .hero__img {
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;
    max-width: 800px;
    margin: 0 auto;
    z-index: 100;
}
.software-img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}
.t-shadow .hero__info {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.hero__info {
    max-width: 550px;
    color: #fff;
    padding-top: 55px;
}
.img-logo{
    width: 100%;
}
.hero__shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(bottom, #30384b 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(bottom, #30384b 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(360deg, #30384b 0%, rgba(255, 255, 255, 0) 100%);
}
.hero__info h2 {
    font-size: 2.8125rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    line-height: 55px;
}
h2.dnc-title {
    font-size: 40px;
}
p.dnc-p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.t-shadow .hero__download {
    position: relative;
    text-align: center;
    padding-bottom: 110px;
    z-index: 2;
}
.c-btn.-big {
    padding: 12px 46px;
    color: #fff;
    font-size: 16px;
}
.c-btn--primary span {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #457fca), color-stop(51%, #5691c8), to(#457fca));
    background: -webkit-linear-gradient(left, #457fca 0, #5691c8 51%, #457fca 100%);
    background: -o-linear-gradient(left, #457fca 0, #5691c8 51%, #457fca 100%);
    background: linear-gradient(to right, #457fca 0, #5691c8 51%, #457fca 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hero__download a {
    margin-right: 16px;
    -webkit-box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.12);
}
.c-btn--action {
    background: #FF5782;
    background-image: -webkit-gradient(linear, left top, right top, from(#FF5782), color-stop(51%, #FD8596), to(#FF5782));
    background-image: -webkit-linear-gradient(left, #FF5782 0%, #FD8596 51%, #FF5782 100%);
    background-image: -o-linear-gradient(left, #FF5782 0%, #FD8596 51%, #FF5782 100%);
    background-image: linear-gradient(to right, #FF5782 0%, #FD8596 51%, #FF5782 100%);
    background-size: 200% auto;
    color: #fff;
}
.c-btn {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 30px;
    border: 0;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.c-btn--action:hover, .c-btn--action:focus {
    background-position: right center;
    color: #fff;
}
.c-btn--primary {
    position: relative;
    background: #fff;
    color: #457fca;
}
.t-shadow .hero {
    padding-top: 10px;
    margin-bottom: 80px;
}
.t-shadow .hero {
    padding-bottom: 160px;
}
.hero {
    position: relative;
    padding: 210px 0 60px;
}
.qr-code-pos > img{
    transform: translate(10%, 20px);
}
.language{
    margin-top: 20px;
}
.paste{
    position: absolute;
    right: 10px;
    top: 33%;
}
.title-eth{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 16px;
    margin-bottom: 15px;
}
.copy-btn {
    position: absolute;
    right: 10px;
    top: 1px;
    border-radius: 0;
}

@media (max-width: 480px) {
    #app {
        margin-top: 80px !important;
    }
    #qrcode-0 > img {
        transform: translate(10%, 35px) !important;
        margin-bottom: 60px;
    }
    .logo img{
        width: 100px;
        height: 37px;
    }
    .paste {
        top: 31%;
    }
    .language{
        margin-top: 1px;
        margin-bottom: 10px;
    }
    .c-btn.-big {
        padding: 9px 37px;
        color: #fff;
        max-width: 241px;
        font-size: 13px;
        margin-bottom: 10px;
    }
    .box-price-feed {
        transform: translate(0%, 0);
    }
}
